@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: Montserrat__I;
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff")
}
@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-VariableFont_wght.woff")
}